[submodule "vendor/plugins/file_column"]
	path = vendor/plugins/file_column
	url = git://github.com/activescaffold/file_column.git
[submodule "vendor/plugins/active_scaffold"]
	path = vendor/plugins/active_scaffold
	url = git://github.com/activescaffold/active_scaffold.git
