<%= show_code("controllers", "#{params[:controller]}_controller.rb") -%>
<%= show_code("models", "#{params[:controller].split('/').last.singularize}.rb") -%>
<%= show_code("helpers", "#{params[:controller]}_helper.rb") -%>
