Testing All Options: <%= link_to "alphas", :controller => :alphas %> - <%= link_to "betas", :controller => :betas %> - <%= link_to "deltas", :controller => :deltas %> - <%= link_to "gammas", :controller => :gammas %>
