Testing All Options: <%= link_to "forests", :controller => "nature/forests" %> - <%= link_to "rocks", :controller => "/nature/rocks" %> - <%= link_to "trees", :controller => "/nature/trees" %> - <%= link_to "lakes", :controller => "/nature/lakes" %>
