User Options: <%= link_to "companies", :controller => :companies %> - <%= link_to "users", :controller => :users %> - <%= link_to "roles", :controller => :roles %> - <%= link_to "permissions", :controller => :permissions %> - <%= link_to "branches", :controller => :company_branches %>
