<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>ActiveScaffold :: Demo</title>
  <%#= stylesheet_link_tag 'basic', :media => 'all' %>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
</head>
<body>
Scenarios: <%= link_to "user management"%> - <%= link_to "testing all options"%><br />
Testing All Options: <%= link_to "alphas", :controller => :alphas %> - <%= link_to "betas", :controller => :betas %> - <%= link_to "deltas", :controller => :deltas %> - <%= link_to "gammas", :controller => :gammas %>
<table><tr><td>
<%= yield %>
</td><td>
<%= render_partial "/demo/source" %>
</td></tr></table>
</body>
</html>
