<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>ActiveScaffold :: Demo</title>
  <%= javascript_include_tag :defaults, "code_highlighter/code_highlighter", "code_highlighter/ruby" %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "reset", "main", :media => 'all' %>
  <!--[if IE]><%= stylesheet_link_tag "main-ie", :media => "all" %><![endif]-->
</head>
<body>
  <div id="wrap">
    <div id="header"><a href="http://www.activescaffold.com/"><h1>ActiveScaffold</h1></a>
      <h2 class="description">A <a href="http://rubyonrails.org/">Ruby on Rails</a> plugin from the makers of <a href="http://www.ajaxscaffold.com">AjaxScaffold</a></h2>
      <ul id="nav">
        <li><a href="http://www.activescaffold.com/">Home</a></li>
        <li><a href="http://www.activescaffold.com/docs">Documentation</a></li>
        <li><a href="http://www.activescaffold.com/team">Team</a></li>
        <li><a href="http://www.activescaffold.com/blog">Blog</a></li>
        <li><a class="selected" href="http://demo.activescaffold.com">Demo</a></li>
        <li><a href="http://groups.google.com/group/activescaffold">Forum</a></li>
        <li><a href="http://code.google.com/p/activescaffold/issues/list">Issues / Bugs</a></li>
     </ul>
      <p id="latest-release">
        Latest release is <strong>rc1</strong>:
        <small>
          <a href="http://activescaffold.googlecode.com/files/active_scaffold_1_0_rc1.zip">download</a> |
          <a href="http://activescaffold.googlecode.com/svn/tags/current">svn</a>
        </small>
      </p>
    </div>
    <div id="sub-nav">
      <%= render :partial => "layouts/menu" if @menu %>
      <%= render :partial => "layouts/jump" %>
    </div>
    <%= yield %>
    <div id="content">
      <h3>Source</h3>
      <%= render :partial => "demo/source" %>
    </div>
  </div>
</body>
</html>
