<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>ActiveScaffold :: Demo</title>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag "main", :media => 'all' %>
</head>
<body>
<%= render :partial => "layouts/jump" %>
<%= render :partial => "layouts/purge" %>

<ul id="menu">
  <li class="label">User Management:</li>
  <% ['users', 'roles', 'permissions'].each do |controller| -%>
  <li><%= link_to controller, :controller => controller -%></li>
  <% end -%>
</ul>

<div style="clear: both;">
<%= link_to 'view source', {:action => 'source'}, :popup => [params[:controller], 'height=800,width=500,scrollbars=1'], :class => 'source' %>
<%= yield %>
<%= link_to 'view source', {:action => 'source'}, :popup => [params[:controller], 'height=800,width=500,scrollbars=1'], :class => 'source' %>
</div>

<script type="text/javascript">
Rico.Corner.round('purge-data-wrapper');
Rico.Corner.round('jump');
</script>
</body>
</html>
